In [1]:
import pandas as pd
date_ver = pd.read_csv('시대별.csv')
genre_ver = pd.read_csv('melon_genre_test2.csv')

In [4]:
date_ver.head(1)

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric
0,2741416,Bad Girl Good Girl,미쓰에이,댄스,Bad But Good,박진영,박진영,20100701,https://cdnimg.melon.co.kr/cm/album/images/009...,156,43897,You don't know meYou don't know meYou don't kn...

In [5]:
genre_ver.head(1)

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric
0,36471939,너와 30일 (feat. 수조),레터 플로우,"발라드, 인디음악",내 노래 리메이크 프로젝트 Vol. 1,레터 플로우,레터 플로우,20230525,https://cdnimg.melon.co.kr/cm2/album/images/11...,0,14,우리 그날을 기억해처음 네가 날 봤던 날떨어지는 꽃잎 아래눈물을 흘리던내가 넌 시작...